header{
	background-color: #1c1c1c;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;

	nav{
		a{
			color :white;
			text-decoration: none;
			padding-left: 1em;
		}	
	}

	section{
		display: flex;
		flex-direction: column;
		justify-content:center;
		align-items:center;
	}

}

table{
	border-collapse: collapse;
	tbody{
		td,td{
			border: 1px solid black;
		}
	}
	
}

